@charset "UTF-8";
/* Font Declaration */
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
/* Font Variables */
/* Page-1 arrow down */
@-webkit-keyframes arrow_down {
  0%, 100% {
    top: 15rem;
  }
  50% {
    top: 15.5rem;
  }
}
@keyframes arrow_down {
  0%, 100% {
    top: 15rem;
  }
  50% {
    top: 15.5rem;
  }
}
/* Common Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

html {
  height: 4096px;
}

body {
  /* 입양절차 */
  /* #section-2 .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
  } */
  /* footer */
}
body .page-1 {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Navigation Styles */
}
body .page-1::after {
  background: url("../assets/banner-3.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
  width: 100%;
  height: 1024px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
body .page-1 nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  padding: 0 0.8rem;
  border-bottom: 1px solid rgba(130, 130, 130, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
body .page-1 nav .nav-container {
  width: 100%;
  height: 5rem;
  z-index: 6;
  line-height: 5rem;
  justify-content: space-between;
  align-items: center;
  position: relative;
  display: flex;
  gap: 3rem;
  /* 후원하기 버튼 */
}
body .page-1 nav .nav-container .nav-logo,
body .page-1 nav .nav-container .nav-button {
  width: 40%;
}
body .page-1 nav .nav-container .nav-logo {
  text-align: left;
  float: left;
  margin: 0 -5px 0 0;
}
body .page-1 nav .nav-container .nav-logo .menu-logo {
  margin: 0 18rem 0 1rem;
}
body .page-1 nav .nav-container .nav-logo .menu-logo a {
  height: 50px;
}
body .page-1 nav .nav-container .nav-logo .menu-logo a img {
  height: 3rem;
}
body .page-1 nav .nav-container .nav-menu {
  float: left;
  width: 28.2rem;
  display: flex; /* 플렉스 컨테이너 설정 */
  justify-content: center; /* 가로축 중앙 정렬 */
  align-items: center; /* 세로축 중앙 정렬 (옵션) */
}
body .page-1 nav .nav-container .nav-menu ul.menu-link {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body .page-1 nav .nav-container .nav-menu ul.menu-link > li {
  width: auto;
  height: auto; /* 50px 설정 시 아래로 내려감 */
  display: grid;
  grid-template-columns: repeat(1, 150px);
  gap: 10px;
  float: left;
  align-items: center;
  text-align: center;
}
body .page-1 nav .nav-container .nav-menu ul.menu-link > li a {
  color: #2F2521;
  position: relative;
}
body .page-1 nav .nav-container .nav-menu ul.menu-link > li a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
body .page-1 nav .nav-container .nav-button {
  text-align: right;
  margin: 1rem 0 1rem 13.5rem;
  /* background: #ddd; */
  width: 40%;
  height: 3rem;
}
body .page-1 nav .nav-container .btn-container {
  width: 8rem;
  height: 2.5rem;
  border-radius: 20px;
  background: #2F2521;
  display: inline-block;
  cursor: pointer;
  z-index: 9;
  position: relative;
}
body .page-1 nav .nav-container .btn {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  overflow: hidden;
  width: 7.8rem;
  height: 2.3rem;
  background: #2F2521;
  border-radius: 30px;
}
body .page-1 nav .nav-container .btn .txt {
  position: relative;
  z-index: 2;
  display: block;
  line-height: 2.3rem;
  text-align: center;
  right: 1rem;
  color: #FCF6EC;
}
body .page-1 nav .nav-container .btn::before {
  content: "";
  display: block;
  width: 7.8rem;
  height: 2.3rem;
  border-radius: 30px;
  background: #FCF6EC;
  position: absolute;
  top: 0rem;
  left: 8rem;
  transition: linear 0.4s;
  z-index: 1;
}
body .page-1 nav .nav-container .btn-container:hover .btn::before {
  left: 0;
}
body .page-1 nav .nav-container .btn-container:hover .txt {
  color: #2F2521;
  font-weight: bold;
  transition: linear 0.5s;
}
body .page-1 nav .nav-container .btn .txt .icon {
  width: 2.3rem;
  height: 2.3rem;
  background: #FCF6EC;
  border-radius: 50%;
  position: absolute;
  top: 0rem;
  left: 6.5rem;
  z-index: 3;
}
body .page-1 nav .nav-container .btn .txt .icon img {
  width: 12px;
}
body .page-1 nav .nav-container nav .container::after {
  content: "";
  display: block;
  clear: both;
}
body .page-1 .hd {
  text-align: center;
  width: 100%;
  height: 942px;
}
body .page-1 .hd .hd-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .page-1 .hd .hd-container .logo {
  padding-top: 6.25rem;
  height: 200px;
}
body .page-1 .hd .hd-container .logo img {
  height: 6rem;
}
body .page-1 .hd .hd-container .bn-title, body .page-1 .hd .hd-container .bn-content {
  margin-top: 1.25rem;
  text-shadow: 1.5px 1.5px 1.5px rgba(255, 255, 255, 0.5);
}
body .page-1 .hd .hd-container .bn-btn {
  margin-top: 16rem;
}
body .page-1 .hd .hd-container .bn-btn .btn-antiman {
  width: 2.5rem;
  height: 3.5rem;
  background-color: rgba(242, 151, 8, 0.75);
  border-radius: 20px;
  color: #FFF;
  font-size: 1.3rem;
  text-align: center;
  -webkit-animation: arrow_down 1.5s infinite;
          animation: arrow_down 1.5s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
body .page-1 .hd .hd-container .bn-btn .btn-antiman:hover {
  background-color: rgb(209, 133, 1);
  border: 1px solid rgba(243, 211, 157, 0.75);
  transition: 0.5s;
}
body .page-1 #section-1 {
  width: 100%;
  height: 1024px;
  /* background: url("../assets/banner-3.jpg") no-repeat center;
  background-size: cover; */
  background: #F3F3EF;
  position: relative;
}
body .page-1 #section-1 .slider {
  width: 100%;
  height: 1024px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
body .page-1 .center {
  width: 100%;
  display: flex;
  justify-content: center;
}
body .page-1 .center .tilt-card {
  text-align: center;
}
body .page-1 .center .tilt-card a {
  display: block;
  width: 350px;
  height: 400px;
  border-radius: 20px;
  background: #666;
}
body .page-1 .left {
  text-align: right;
}
body .page-1 #section-1 .slider h1 {
  font-size: 2.5rem;
}
body .page-1 .counter {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  padding-bottom: 12rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}
body .page-3 .sec3-container {
  margin: 5rem auto;
  width: 80%;
}
body .page-3 .sec3-container .sec3-h1 {
  font-size: 50px;
  color: rgba(34, 34, 34, 0.8);
}
body .page-3 .img-container figure img {
  border-radius: 25px;
  float: left;
  -o-object-fit: cover;
     object-fit: cover;
  width: 482px;
  height: 570px;
  margin: 3.5rem 6rem 0 0;
}
body .page-3 .profile-list .swiper-wrapper ul {
  display: grid;
  row-gap: 3.5rem;
  margin: 3.5rem 0 0 0;
  align-items: right;
}
body .page-3 .profile-list .swiper-wrapper ul li {
  width: 587px;
  height: 254px;
  background-color: #F5F3ED;
  border: 1px solid #E1E0DB;
  padding: 40px;
  border-radius: 25px;
}
body .page-3 .profile-list .swiper-wrapper ul li .profile-content {
  float: left;
  display: grid;
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  gap: 5px;
  margin-left: 5rem;
}
body .page-3 .profile-list .swiper-wrapper ul li .profile-content h2 {
  margin: 1rem 0;
}
body .page-3 .profile-list .swiper-wrapper ul li .profile-img {
  display: flex;
  justify-content: center;
}
body .page-3 .profile-list .swiper-wrapper ul li .profile-img img {
  width: 175px;
  border-radius: 25px;
}
body #section-3 {
  width: 100%;
  height: 684px;
  background: white;
}
body #section-3 .container {
  width: 100%;
  height: 100%;
  /* background: #888; */
  display: grid;
  justify-items: center;
}
body #section-3 .container h1 {
  margin-top: 5rem;
  font-size: 30px;
  font-weight: normal;
}
body #section-3 .swiper-container {
  width: 90%;
  height: 100%;
  /* background: beige; */
  margin: 0 auto;
}
body #section-3 .swiper-procedures {
  width: 100%;
  height: 330px;
  /* background: #555; */
  display: flex;
  justify-content: space-between;
}
body #section-3 .swiper-procedures .procedures-1,
body #section-3 .swiper-procedures .procedures-2,
body #section-3 .swiper-procedures .procedures-3,
body #section-3 .swiper-procedures .procedures-4 {
  width: 330px;
  height: 330px;
  border: 2px solid #000;
  border-radius: 20px;
  background: #fff;
  /* margin: 0 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body #section-3 .swiper-procedures h2 {
  color: #F19802;
  font-size: 25px;
}
body #section-3 .swiper-procedures p.txt {
  text-align: center;
  font-size: 18px;
}
body #section-3 .navigation .navigation-scrollbar {
  width: 100%;
  height: 4px;
  background: #000;
  margin-top: 3rem;
}
body footer {
  width: 100%;
  height: 340px;
  background: #3A302C;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2.5rem;
  box-sizing: border-box;
}
body footer p, body footer a, body footer b, body footer h4 {
  color: #fff;
}
body .footer-logo img {
  width: 300px;
}
body .footer-logo p.txt {
  margin: 30px 0 60px 0;
  line-height: 1.5;
}
body .footer-logo p.copyright {
  font-size: 0.8rem;
}
body footer nav.f-nav ul li {
  margin-bottom: 10px;
}
body .footer-right h4 {
  margin-bottom: 10px;
}
body .footer-right .email {
  margin-bottom: 50px;
}
body .footer-right a {
  margin-right: 10px;
}
body .footer-right img {
  width: 30px;
}

/*# sourceMappingURL=index.css.map *//*# sourceMappingURL=index.css.map */