@charset "UTF-8";

/* Font Declaration */
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

/* Font Variables */
/* Page-1 arrow down */
@-webkit-keyframes arrow_down {
  0%, 100% {
    top: 0rem;
  }

  50% {
    top: 0.5rem;
  }
}

@keyframes arrow_down {
  0%, 100% {
    top: 0rem;
  }

  50% {
    top: 0.5rem;
  }
}

/* Common Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

li {
  list-style-type: none;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}


/* navigation bar */
nav {
  -webkit-position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;

  .nav-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 0.8rem;
    border-bottom: 1px solid rgba(130, 130, 130, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  .nav-logo, .nav-button {
    width: 35%;
  }

  .nav-logo .menu-logo a {
    height: 50px;

    img {
      height: 3rem;
    }
  }

  .nav-menu {
    width: 30%;

    ul.menu-link {
      width: 100%;
      display: flex;
      justify-content: space-around;

      > li > a {
        color: #2F2521;
        position: relative;
        display: inline-block;
      }
    }
  }

  ul.menu-link > li > a {
    &:hover {
      text-decoration: none;
    }

    &:after {
      content: "";
      position: relative;
      display: block;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #2F2521;
      transform: scaleX(0);
      transform-origin: 100% 0;

      /* transform-origin: 0 0; */
      transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 0;
      transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
    }
  }
}

.nav-button {
  text-align: right;
  height: 5rem;

  .btn-container {
    width: 8rem;
    height: 2.5rem;
    border-radius: 20px;
    background: #2F2521;
    display: inline-block;
    margin-top: 1.25rem;
    cursor: pointer;
    z-index: 9;
    position: relative;
  }
}

.nav-container .btn {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  overflow: hidden;
  width: 7.8rem;
  height: 2.3rem;
  background: #2F2521;
  border-radius: 30px;

  .txt {
    position: relative;
    z-index: 2;
    display: block;
    line-height: 2.3rem;
    text-align: center;
    right: 1rem;
    color: #FCF6EC;
  }

  &::before {
    content: "";
    display: block;
    width: 7.8rem;
    height: 2.3rem;
    border-radius: 30px;
    background: #FCF6EC;
    position: absolute;
    top: 0rem;
    left: 8rem;
    transition: linear 0.4s;
    z-index: 1;
  }
}

.btn-container:hover {
  .btn::before {
    left: 0;
  }

  .txt {
    color: #2F2521;
    font-weight: bold;
    transition: linear 0.5s;
  }
}

.nav-container .btn {
  .txt .icon {
    width: 2.3rem;
    height: 2.3rem;
    background: #FCF6EC;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: 6.5rem;
    z-index: 3;

    img {
      width: 12px;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}




/* footer */

footer {
  width: 100%;
  height: 340px;
  background: #3A302C;

  /* background: #2F2521; */
  /* display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2.5rem;
  box-sizing: border-box; */

  .footer-container {
    width: 1300px;
    height: 340px;

    /* background: #99A; */
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 2.5rem 0;
    box-sizing: border-box;
    margin: 0 auto;

    p, .f-nav li a, b, h4 {
      color: #eae1dd;
    }

    .footer-logo {
      img {
        width: 300px;
      }
    
      p {
        &.txt {
          margin: 30px 0 60px 0;
          line-height: 1.5;
        }
    
        &.copyright {
          font-size: 0.8rem;
        }
      }
    }
    
    footer .footer-nav .f-nav ul li {
      margin-bottom: 10px;
    }
    
    .footer-right {
      h4, p {
        margin-bottom: 10px;
      }
    
      .number {
        margin-bottom: 40px;
      }
    
      a {
        margin-right: 10px;
        display: inline-block;
      }
    
      img {
        width: 30px;
      }
    }
  }
}

/* top버튼 */

#top-btn {
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  z-index: 500;

  i {
    color: #EB9C00;
    font-size: 1.5rem;
  }
}