@charset "UTF-8";

/* Font Declaration */
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

/* Font Variables */
/* Page-1 arrow down */
@-webkit-keyframes arrow_down {
  0%, 100% {
    top: 0rem;
  }

  50% {
    top: 0.5rem;
  }
}

@keyframes arrow_down {
  0%, 100% {
    top: 0rem;
  }

  50% {
    top: 0.5rem;
  }
}

/* Common Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "NanumBarunGothic", "Nanum Gothic", sans-serif;
  scroll-behavior: smooth;
}

a {
  &:link, &:visited {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

li {
  list-style-type: none;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}


/* navigation bar */
nav {
  -webkit-position: -webkit-sticky;
  position: static;
  top: 0;
  // z-index: 5;

  .nav-container {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    padding: 0 0.8rem;
    border-bottom: 1px solid rgba(130, 130, 130, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 5;
  }

  .nav-logo, .nav-button {
    width: 35%;
  }

  .nav-logo .menu-logo a {
    height: 50px;

    img {
      height: 3rem;
    }
  }

  .nav-menu {
    width: 30%;

    ul.menu-link {
      width: 100%;
      display: flex;
      justify-content: space-around;

      > li > a {
        color: #2F2521;
        position: relative;
        display: inline-block;
      }
    }
  }

  ul.menu-link > li > a {
    &:hover {
      text-decoration: none;
    }

    &:after {
      content: "";
      position: relative;
      display: block;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #2F2521;
      transform: scaleX(0);
      transform-origin: 100% 0;

      /* transform-origin: 0 0; */
      transition: transform 0.3s cubic-bezier(0.45, 0.46, 0.05, 0.96);
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: 0 0;
      transition: transform 0.5s cubic-bezier(0.45, 0.46, 0.05, 0.96);
    }
  }

  nav::after {
    content: '';
    display: block;
    clear: both;
  }
}

.nav-button {
  text-align: right;
  height: 5rem;

  .btn-container {
    width: 8rem;
    height: 2.5rem;
    border-radius: 20px;
    background: #2F2521;
    display: inline-block;
    margin-top: 1.25rem;
    cursor: pointer;
    z-index: 9;
    position: relative;
  }
}

.nav-container .btn {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  overflow: hidden;
  width: 7.8rem;
  height: 2.3rem;
  background: #2F2521;
  border-radius: 30px;

  .txt {
    position: relative;
    z-index: 2;
    display: block;
    line-height: 2.3rem;
    text-align: center;
    right: 1rem;
    color: #FCF6EC;
  }

  &::before {
    content: "";
    display: block;
    width: 7.8rem;
    height: 2.3rem;
    border-radius: 30px;
    background: #FCF6EC;
    position: absolute;
    top: 0rem;
    left: 8rem;
    transition: linear 0.4s;
    z-index: 1;
  }
}

.btn-container:hover {
  .btn::before {
    left: 0;
  }

  .txt {
    color: #2F2521;
    font-weight: bold;
    transition: linear 0.5s;
  }
}

.nav-container .btn {
  .txt .icon {
    width: 2.3rem;
    height: 2.3rem;
    background: #FCF6EC;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: 6.5rem;
    z-index: 3;

    img {
      width: 12px;
    }
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

/* page1 영역 */

#banner {
  width: 100%;
  height: 25rem;

  .bn-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      background: url("../assets/banner-1.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0.8;
      width: 100%;
      height: 25rem;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    .bn-title {
      position: absolute;
      top: 50%;
      font-size: 2.5rem; /* 원하는 크기 */
      font-weight: bold; /* 필요에 따라 가중치 변경 */
      color: #FCF6EC; 
    }
  }
}

/* 탭 스타일 */
.sub-menu {
  box-sizing: border-box;

  .nav-sub-container {
    width: 100%;
    height: 4.5rem;
    margin: 50px auto 0;
    display: flex;
    box-sizing: border-box;

    .nav-sub-menu {
      width: 100%;
      border-bottom: 1.5px solid #f5a623;
  
      ul.sub-menu-link {
        width: 100%;
        display: flex;
        justify-content: stretch;

        
        > li {

          [aria-selected="true"] {
            color: #fff;
            border-radius: 5px 5px 0 0;
            border-top: 1.5px solid #F19717;
            border-left: 1.5px solid #F19717;
            border-right: 1.5px solid #F19717;
          }


          
          > a {
            all: unset;
            display: block;
            padding: 25px 0;
            width: calc(100vw / 3);
            height: 4.5rem;
            color: #aaa;
            font-size: 1.3rem;
            font-weight: lighter;
            text-align: center;
            box-sizing: border-box;
            border: 1.5px solid transparent;
            // position:relative; display:block;

            #tab1, #tab2, #tab3 {
              flex: 1;
            }  
            
            /* 기본 상태 */
            // &:not(.active) {
            //   color: #aaa;
            // }

            // &::before {
            //   content:"";
            //   position:absolute;
            //   left:0;
            //   top:0px;
            //   width:100%;
            //   height:3px;
            // }

            /* 활성화된 탭 */
            // &:active {
            //   color: #f5a623;
            //   border-radius: 5px 5px 0 0;
            //   border-top: 1.5px solid #F19717;
            //   border-left: 1.5px solid #F19717;
            //   border-right: 1.5px solid #F19717;
            // }

            &:hover {
              border-radius: 5px 5px 0 0;
              border-top: 1.5px solid #F19717;
              border-left: 1.5px solid #F19717;
              border-right: 1.5px solid #F19717;
            }
            
          }
          // > a.active::before{background:#7ea21e;}
          // > a.active{
          //   background: #fff; color:#F19717;
          //   border-radius: 5px 5px 0 0;
          //   border-top: 1.5px solid #F19717;
          //   border-left: 1.5px solid #F19717;
          //   border-right: 1.5px solid #F19717;
          // }
        }
      }
    }
  }
}

/* 탭 콘텐츠 - 소개 스타일 */
.tab-content {
  display: none;
  margin: 0 auto;
  // background: #f1f1f1;
  width: 50%;
  text-align: left;
  line-height: 1.6;
  
  &[aria-hidden="false"] {
    display: block;
  }
  
  .tab-cont-wrapper {
    padding: 100px 15px 200px;
    position: relative;

    .logo-content {
      width: 150px;
      margin: 0 0 5px;
      position: absolute;
      top: 3.4375rem;
      left: 0;
    }
  
    .content-tit {
      font-size: 1.3rem;
      margin-bottom: .9375rem;
      font-weight: 800;
    }

    > h1 {
      margin-bottom: 1.875rem;
      font-weight: lighter;
    }
  
    > img {
      width: 700px;
      margin: 5.5rem 0 1.5rem;
      border-radius: 10px;
    }

    > p {
      line-height: 1.8;
      font-weight: 400;
    }

    > h2 {
      font-weight: lighter;
      margin: 5rem 0;
    }
  }

  &[aria-hidden="false"] {
    display: block;
  }
}

/* 탭 콘텐츠 - 캠페인 스타일 */
.tab-cam-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 100px 15px 200px;
  display: flex;
  flex-direction: column;
  
  
  

  .campaign-box {
    margin-bottom: 5rem;
    
    .campaign-box-container {
      width: 31.25rem;
      height: 100%;
      border-radius: 10px;
      margin: 0 auto;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
      
      .cam-content {
        text-align: left;
        padding: .9375rem;

        .cam-cont-tit {
          font-weight: bold;
          font-size: 1rem;
        }

        .cam-cont-cont {
          font-size: .9rem;
          color: rgb(67, 66, 66);
        }

        p {

          &:last-child {
            margin-top: .625rem;
          }
        }
      }
    }
    
    &:last-child {
      margin-bottom: 0;
    }

    .cam-img {
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
}

/* 탭 콘텐츠 - 후원하기 스타일 */
#content3 {

  > .tab-cont-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;

    .sponsor-tit {
      color: #F2970C;
      font-weight: bold;
      font-size: 1.7rem;
    }
  
    .sponsor-cont {
      color: #F2970C;
    }

    .sponsor-cont-black {
      font-size: .8rem;
    }

    button {
      width: 120px;
      height: 100%;
      padding: .625rem;
      font-size: .8rem;
      background-color: #F2970C;
      text-align: center;
      position: relative;
      margin: 50px auto 0;
      
      > a {
        color: #fff;
      }
    }
  }
}

/* footer */
footer {
  width: 100%;
  height: 340px;
  background: #3A302C;

  /* background: #2F2521; */
  /* display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2.5rem;
  box-sizing: border-box; */

  .footer-container {
    width: 1300px;
    height: 340px;

    /* background: #99A; */
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding: 2.5rem 0;
    box-sizing: border-box;
    margin: 0 auto;

    p, .f-nav li a, b, h4 {
      color: #eae1dd;
    }

    .footer-logo {
      img {
        width: 300px;
      }
    
      p {
        &.txt {
          margin: 30px 0 60px 0;
          line-height: 1.5;
        }
    
        &.copyright {
          font-size: 0.8rem;
        }
      }
    }
    
    footer .footer-nav .f-nav ul li {
      margin-bottom: 10px;
    }
    
    .footer-right {
      h4, p {
        margin-bottom: 10px;
      }
    
      .number {
        margin-bottom: 40px;
      }
    
      a {
        margin-right: 10px;
        display: inline-block;
      }
    
      img {
        width: 30px;
      }
    }
  }
}

/* top버튼 */

#top-btn {
  position: fixed;
  bottom: 3rem;
  right: 2.5rem;
  z-index: 500;

  i {
    color: #EB9C00;
    font-size: 1.5rem;
  }
}